html{overflow-y:scroll;min-height:100%;-webkit-text-size-adjust:100%}body{position:relative}a:hover,a:active{outline:none}textarea{overflow:auto}img::selection{background:transparent}img::-moz-selection{background:transparent}fieldset,img,iframe{border:0}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button}button[disabled],input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none}[hidden]{display:none}body{margin:0}p,hr,ul,ol,dl,blockquote,pre,fieldset,figure{margin:15px
0}h1,h2,h3,h4,h5,h6{margin:25px
0 15px 0}ul,ol,dl{padding-left:30px}dd{margin-left:40px}h1,h2,h3,h4,h5,h6{font-weight:normal}h1{font-size:36px;line-height:36px}h2{font-size:24px;line-height:24px}h3{font-size:18px;line-height:18px}h4,h5,h6{font-size:16px;line-height:16px}a,a:hover{text-decoration:none}b,strong{font-weight:bold}small{font-size:11px}ins{text-decoration:none}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}dfn[title]{font-style:normal}hr{display:block;height:1px;padding:0;border:0;border-top:1px solid}q,blockquote{font-family:"Times New Roman",Times,serif;font-style:italic}q{quotes:'\201C' '\201D' '\2018' '\2019'}blockquote{padding:0
20px;font-size:16px;line-height:22px}code,pre{font-family:"Courier New",Courier,monospace}code{word-spacing:-2px}pre{padding:10px;font-size:12px;line-height:18px;white-space:pre-wrap;word-wrap:break-word}table{border-collapse:collapse;border-spacing:0}th,td{padding:1px}input,select{vertical-align:middle}select,input,textarea,button{font:12px Arial,sans-serif}form,textarea{margin:0}legend,fieldset,input{padding:0}textarea,input[type='text'],input[type='password'],select{padding:2px}select{line-height:19px}button,input[type='button'],input[type='submit']{padding:2px
3px}body{font:normal 14px/20px Arial,Helvetica,sans-serif;color:#444}ins,mark{color:#444;background-color:#ffa}hr{border-top-color:#ddd}.system-transparent #content
hr{border-color:rgba(255,255,255,0.2)}pre{border:1px
solid #ddd;background:#fafafa}.system-transparent #content pre,
.mod-box-transparent
pre{border:none;background-color:rgba(0,0,0,0.3);box-shadow:0 0 1px rgba(255,255,255,0.2)}::-moz-selection{background:#39f;color:#fff}::selection{background:#39f;color:#fff}
.clearfix:before,.clearfix:after,.grid-block:before,.grid-block:after,.deepest:before,.deepest:after{content:"";display:table}.clearfix:after,.grid-block:after,.deepest:after{clear:both}.grid-box{float:left}.width16{width:16.666%}.width20{width:20%}.width25{width:25%}.width33{width:33.333%}.width40{width:40%}.width50{width:50%}.width60{width:60%}.width66{width:66.666%}.width75{width:75%}.width80{width:80%}.width100{width:100%}[class*='width']{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}.bfc-o{overflow:hidden}.bfc-f{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;float:left}.float-left{float:left}.float-right{float:right}.grid-gutter.grid-block{margin:0
-15px}.grid-gutter>.grid-box>*{margin:0
15px}.grid-gutter>.grid-box>*>:first-child{margin-top:0}.grid-gutter>.grid-box>*>:last-child{margin-bottom:0}.wrapper{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;margin:auto}#header{position:relative}#toolbar .float-left .module,
#toolbar .float-left>time{margin:0
15px 0 0;float:left}#toolbar .float-right
.module{margin:0
0 0 15px;float:right}#headerbar
.module{max-width:300px;margin-right:0;float:right}#logo,#logo>img,#menu{float:left}#search{float:right}#banner{position:absolute;top:0;right:-200px}#footer{position:relative;text-align:center}#absolute{position:absolute;z-index:15;width:100%}.wrapper{-moz-box-sizing:content-box;box-sizing:content-box;padding:0
75px}.module,#breadcrumbs,#content{margin:5px}#header{margin:5px
5px 35px 5px}#toolbar .float-right .module,
#toolbar .float-right>time{margin:0
0 0 20px}#toolbar .float-right>time{float:right}#headerbar{margin:15px
0 60px 0}#menubar{margin-top:40px}#innertop{margin-bottom:15px}#innerbottom{margin-top:15px}#footer{margin:30px
5px}#footer
.module{margin:0}#footer .menu-line{margin-bottom:15px}.page-body-1{overflow:hidden}#socialbar{position:fixed;right:0px;top:100px;min-height:60px;width:90px;z-index:1}#toolbar{height:20px;line-height:20px;font-size:12px}#header,#footer{color:#fff}#top-a+#main,#top-b+#main{margin-top:30px}.sidebar-a-left #maininner > section,
.sidebar-b-left #maininner>section{margin-left:30px}.sidebar-a-left #maininner > #content,
.sidebar-b-left #maininner > #content,
.sidebar-a-left #maininner > #breadcrumbs,
.sidebar-b-left #maininner>#breadcrumbs{margin-left:35px}.sidebar-a-right #maininner > section,
.sidebar-b-right #maininner>section{margin-right:30px}.sidebar-a-right #maininner > #content,
.sidebar-b-right #maininner > #content,
.sidebar-a-right #maininner > #breadcrumbs,
.sidebar-b-right #maininner>#breadcrumbs{margin-right:35px}#breadcrumbs{height:35px;margin-bottom:10px;line-height:35px;box-shadow:0 0 1px rgba(255,255,255,0.2)}#main+#bottom-a,#main+#bottom-b{margin-top:30px}#system
.pagination{height:35px;line-height:35px;box-shadow:0 0 1px rgba(255,255,255,0.2)}.transparency-25 #socialbar .social-icons > li,
.transparency-25 #breadcrumbs,
.transparency-25 #system .pagination,
.transparency-25 .wk-slideshow-subway-list>div{background:url("/wp-content/themes/yoo_subway_wp/images/module_box_transparency25.png") 0 0 repeat}.transparency-50 #socialbar .social-icons > li,
.transparency-50 #breadcrumbs,
.transparency-50 #system .pagination,
.transparency-50 .wk-slideshow-subway-list>div{background:url("/wp-content/themes/yoo_subway_wp/images/module_box_transparency50.png") 0 0 repeat}.transparency-75 #socialbar .social-icons > li,
.transparency-75 #breadcrumbs,
.transparency-75 #system .pagination,
.transparency-75 .wk-slideshow-subway-list>div{background:url("/wp-content/themes/yoo_subway_wp/images/module_box_transparency75.png") 0 0 repeat}#footer{font-size:12px}#totop-scroller{display:block;position:absolute;top:0;right:0;z-index:1;width:30px;height:30px;background:url("/wp-content/themes/yoo_subway_wp/images/totop_scroller.png") 0 0 no-repeat;text-decoration:none;opacity:0.6}#totop-scroller:hover{opacity:1}
.menu,
.menu
ul{margin:0px;padding:0px;list-style:none}.menu a,
.menu
span{display:block}.menu
a{text-decoration:none}.menu-dropdown
li{position:relative}.menu-dropdown,
.menu-dropdown .level1,
.menu-dropdown .level1>span{float:left}.menu-dropdown a.level1 > span,
.menu-dropdown span.level1>span{height:30px;padding:0
10px;line-height:30px}.menu-dropdown
.dropdown{display:none;position:absolute;top:30px;left:0;z-index:100;width:300px}.menu-dropdown li:hover .dropdown,
.menu-dropdown li.remain
.dropdown{display:block}.menu-dropdown li:hover .dropdown.flip,
.menu-dropdown li.remain
.dropdown.flip{left:auto;right:0}.menu-dropdown .dropdown-bg>div{overflow:hidden}.menu-dropdown .stack
.column{width:100%}.menu-dropdown
.columns2{width:600px}.menu-dropdown
.columns3{width:900px}.menu-dropdown
.columns4{width:1200px}.menu-dropdown
.column{float:left}.menu-dropdown a.level2 > span,
.menu-dropdown span.level2>span{padding:7px
0;line-height:21px;overflow:hidden}.menu-dropdown
ul.level3{padding-bottom:10px}.menu-dropdown
li.level3{font-size:11px;line-height:17px}.menu-dropdown
span.icon{display:block;background-repeat:no-repeat;background-position:50% 50%;float:left}.menu-dropdown .level1 .level1
span.icon{width:30px;height:30px;margin-left:-5px}.menu-dropdown .level1 .level1 span.icon + span,
.menu-dropdown .level1 .level1 span.icon+span+span{margin-left:25px}.menu-dropdown li.level2 .level2
span.icon{width:35px;height:35px;margin-top:-7px;margin-bottom:-7px}.menu-dropdown li.level2.hassubtitle .level2
span.icon{margin-top:-4px}.menu-dropdown li.level2 .level2
span.icon{margin-right:5px}.menu-dropdown li.level2 .level2 span.icon + span,
.menu-dropdown li.level2 .level2 span.icon+span+span{margin-left:40px}.menu-dropdown
span.title{line-height:18px}.menu-dropdown
span.subtitle{margin-top:-1px;font-size:9px;line-height:10px;text-indent:1px}.menu-dropdown li.level2 .level2
span.title{line-height:15px}.menu-dropdown li.level2 .level2
span.subtitle{line-height:14px}.menu-sidebar li.parent span.level1>span{cursor:pointer}.menu-sidebar a.level1 > span,
.menu-sidebar span.level1>span{padding:5px
0;line-height:20px}.menu-sidebar
span.title{display:inline}.menu-sidebar
span.subtitle{display:none}.menu-sidebar
ul.level2{padding-bottom:10px}.menu-sidebar li.level1:last-child
ul.level2{padding-bottom:0}.menu-sidebar .level2 a>span{font-size:11px;line-height:17px}.menu-sidebar
span.icon{display:inline-block;height:30px;width:30px;margin:-5px 5px -5px 0;background-repeat:no-repeat;background-position:50% 50%;vertical-align:middle}.menu-line,
.menu-line li,
.menu-line li
a{display:inline-block}.menu-dropdown{margin-bottom:-25px}.menu-dropdown
li.level1{margin-right:15px;padding-bottom:25px}.menu-dropdown a.level1,
.menu-dropdown
span.level1{color:#fff;opacity:0.6}.menu-dropdown a.level1 > span,
.menu-dropdown span.level1>span{position:relative;height:30px;font-size:26px;line-height:30px}.menu-dropdown li.active
.level1{opacity:1}.menu-dropdown li.level1.parent:hover,
.menu-dropdown
li.remain.parent{background:url("/wp-content/themes/yoo_subway_wp/images/menu_dropdown_arrow.png") 50% 100% no-repeat}.menu-dropdown li.level1:hover .level1,
.menu-dropdown li.remain
.level1{opacity:1}.menu-dropdown
.dropdown{top:55px;left:10px}.menu-dropdown .dropdown-bg>div{padding:15px
10px;background:url("/wp-content/themes/yoo_subway_wp/images/menu_dropdown_dropdown.png") 0 0 repeat}.menu-dropdown
li.level2{margin:0
5px}.menu-dropdown li.level2:first-child{border:none}.menu-dropdown a.level2,
.menu-dropdown
span.level2{font-size:20px;color:#fff;opacity:0.6}.menu-dropdown a.level2 > span,
.menu-dropdown span.level2>span{border:1px
solid rgba(255,255,255,0);padding:9px}.menu-dropdown a.level2:hover{opacity:1}.menu-dropdown a.level2:hover>span{border-color:rgba(255,255,255,0.5)}.menu-dropdown
a.current.level2{font-weight:bold}.menu-dropdown
ul.level3{padding:10px
10px 15px 10px}.menu-dropdown
li.level3{padding-left:15px;font-size:12px;line-height:20px;background:url("/wp-content/themes/yoo_subway_wp/images/menu_dropdown_level3.png") 0 0 no-repeat}.menu-dropdown
a.level3{color:rgba(255,255,255,0.5)}.menu-dropdown li.level3:hover,
.menu-dropdown
li.current.level3{background-position:0 -100px}.menu-dropdown a.level3:hover{color:rgba(255,255,255,1)}.menu-dropdown
a.current.level3{color:#fff}.menu-dropdown .level1 .level1
span.icon{position:absolute;bottom:30px;left:0;right:0;height:25px;width:auto}.menu-dropdown .level1 .level1 span.icon + span,
.menu-dropdown .level1 .level1 span.icon+span+span{margin-left:0}.menu-dropdown .level1 .level1
span.title{font-size:24px;line-height:18px}.menu-dropdown .level1 .level1
span.subtitle{margin-top:4px;font-size:11px}.menu-sidebar a,
.menu-sidebar li>span{color:#444;opacity:0.6}.menu-sidebar a:hover,
.menu-sidebar li>span:hover{opacity:1}.menu-sidebar
a.current{font-weight:bold}.menu-sidebar a.level1 > span,
.menu-sidebar span.level1>span{border:1px
solid rgba(0,0,0,0);padding:9px;font-size:20px}.menu-sidebar a.level1:hover>span{border-color:rgba(0,0,0,0.5)}.menu-sidebar li.parent .level1>span{background:url("/wp-content/themes/yoo_subway_wp/images/menu_sidebar_parent.png") 100% 0 no-repeat}.menu-sidebar li.parent.active .level1>span{background-position:100% -100px}.menu-sidebar
ul.level2{padding:10px
10px 15px 10px}.menu-sidebar li.level1:last-child
ul.level2{padding-bottom:15px}.menu-sidebar .level2 a>span{padding-left:15px;font-size:12px;line-height:20px;background:url("/wp-content/themes/yoo_subway_wp/images/menu_sidebar_level2.png") 0 0 no-repeat}.menu-sidebar .level2 a > span:hover,
.menu-sidebar .level2 a.current>span{background-position:0 -100px}.menu-sidebar ul.level2
ul{padding-left:10px}.menu-line
li{margin-left:7px;padding-left:8px;background:url("/wp-content/themes/yoo_subway_wp/images/menu_line_item.png") 0 50% no-repeat}.menu-line li:first-child{margin-left:0;padding-left:0;background:none}.menu-line li a,
#footer
a{color:#fff;opacity:0.6}#footer a:hover,
.menu-line li a:hover{opacity:1}
body{min-width:1180px}.wrapper{width:1030px}#maininner{width:1030px}#menu
.dropdown{width:250px}#menu
.columns2{width:500px}#menu
.columns3{width:750px}#menu
.columns4{width:1000px}
.module{position:relative}.module
.badge{position:absolute;top:0;right:0;z-index:1}.module .module-title
.icon{display:block;position:relative;top:-6px;width:30px;height:30px;margin-right:5px;overflow:hidden;float:left}.deepest>*:first-child{margin-top:0}.deepest>*:last-child{margin-bottom:0}.module .module-title{margin:0
0 15px 0}.module .module-title
span.title{display:block}.module .module-title
span.subtitle{display:block;margin-top:2px;line-height:14px;font-size:12px;text-indent:1px}.module
.badge{top:-7px;right:-7px;width:32px;height:32px;background:url("/wp-content/themes/yoo_subway_wp/images/module_badges.png") 0 0 no-repeat}.module .badge-hot{background-position:0 0}.module .badge-top{background-position:0 -40px}.module .badge-free{background-position:0 -80px}.module .badge-new{background-position:0 -120px}.module .module-title{font-size:36px;line-height:36px;text-align:center}.module.has-icon .module-title{text-align:left}.module .module-title
.icon{top:0;height:36px;width:36px;margin-right:10px;background:url("/wp-content/themes/yoo_subway_wp/images/module_icons.png") 0 0 no-repeat}.module .module-title .icon-download{background-position:0 0}.module .module-title .icon-twitter{background-position:0 -40px}.module .module-title .icon-mail{background-position:0 -80px}.module .module-title .icon-bubble{background-position:0 -120px}.module .module-title .icon-login{background-position:0 -160px}.module .module-title .icon-cart{background-position:0 -200px}.mod-box{padding:15px;background:#fff;color:#444}.mod-box-transparent{color:#fff;box-shadow:0 0 1px rgba(255,255,255,0.2)}.mod-box-transparent .menu-sidebar a,
.mod-box-color1 .menu-sidebar a,
.mod-box-color2 .menu-sidebar a,
.mod-box-transparent .menu-sidebar li > span,
.mod-box-color1 .menu-sidebar li > span,
.mod-box-color2 .menu-sidebar li>span{color:#fff}.mod-box-transparent .menu-sidebar a.level1 > span,
.mod-box-color1 .menu-sidebar a.level1 > span,
.mod-box-color2 .menu-sidebar a.level1 > span,
.mod-box-transparent .menu-sidebar span.level1 > span,
.mod-box-color1 .menu-sidebar span.level1 > span,
.mod-box-color2 .menu-sidebar span.level1>span{border-color:rgba(255,255,255,0)}.mod-box-transparent .menu-sidebar a.level1:hover > span,
.mod-box-color1 .menu-sidebar a.level1:hover > span,
.mod-box-color2 .menu-sidebar a.level1:hover>span{border-color:rgba(255,255,255,0.5)}.mod-box-transparent .menu-sidebar li.parent .level1 > span,
.mod-box-color1 .menu-sidebar li.parent .level1 > span,
.mod-box-color2 .menu-sidebar li.parent .level1>span{background-image:url("/wp-content/themes/yoo_subway_wp/images/menu_sidebar_parent_white.png")}.mod-box-transparent .menu-sidebar .level2 a > span,
.mod-box-color1 .menu-sidebar .level2 a > span,
.mod-box-color2 .menu-sidebar .level2 a>span{background-image:url("/wp-content/themes/yoo_subway_wp/images/menu_sidebar_level2_white.png")}.mod-box-color1,.mod-box-color2{color:#fff;box-shadow:0 0 1px rgba(0,0,0,0.2)}.mod-box-color1 a:hover,
.mod-box-color2 a:hover{color:#fff}.mod-box-color1 em,
.mod-box-color1 code,
.mod-box-color2 em,
.mod-box-color2
code{color:#000}.mod-box-transparent em,
.mod-box-transparent code,
.system-transparent #system .item em,
.system-transparent #system .item
code{color:#fff}.mod-box-transparent .module-title .icon,
.mod-box-color1 .module-title .icon,
.mod-box-color2 .module-title
.icon{background-image:url("/wp-content/themes/yoo_subway_wp/images/module_icons_white.png")}
.display-block{display:block}.remove-margin{margin:0}.remove-margin-t{margin-top:0}.remove-margin-b{margin-bottom:0}.hidden{display:none;visibility:hidden}.size-auto{max-width:100%;height:auto}.align-left,.alignleft{display:block;margin-right:15px;float:left}.align-right,.alignright{display:block;margin-left:15px;float:right}.align-center,.aligncenter{display:block;margin:auto;margin-bottom:10px}.text-left{text-align:left}.text-right{text-align:right}.text-center{text-align:center}.text-justify{text-align:justify}.button-more,.button-default,.button-primary{display:inline-block}.button-more+[class*=button-],.button-default+[class*=button-],.button-primary+[class*=button-]{margin-left:10px}ul.blank,ul.space,ul.line,ul.check,ul.zebra{list-style:none;margin:0;padding:0}ul.space
li{margin-top:15px}ul.space li:first-child{margin-top:0}ul.line>li{margin-top:5px;padding-top:5px}ul.line>li:first-child{margin-top:0;padding-top:0}ul.check>li{margin-top:5px}ul.check>li:first-child{margin-top:0}ul.zebra>li{padding:5px}ul.line>li>a:first-child,ul.check>li>a:first-child{display:block}table.zebra{width:100%}table.zebra
th{font-size:16px;font-weight:normal;text-align:left}table.zebra th,
table.zebra
td{padding:5px}table.zebra tbody,
table.zebra
tfoot{font-size:12px}table.zebra
.bold{font-weight:bold}table.zebra
.center{text-align:center}table.zebra td
*{vertical-align:middle}table.zebra
tfoot{font-style:italic}table.zebra
caption{font-size:11px;text-align:left;font-style:italic}dl.separator{padding:0;overflow:hidden}dl.separator
dt{width:160px;padding-right:10px;float:left;clear:both}dl.separator
dd{margin-left:170px;padding-left:20px}em.box{padding:0
3px;white-space:nowrap}hr.dotted{border:none}p.dropcap:first-letter {display:block;margin:7px
4px 0px 0px;float:left;font-size:280%;font-family:Georgia,"Times New Roman",Times,serif}.box-content,.box-note,.box-info,.box-warning,.box-hint,.box-download{margin:15px
0;padding:10px}.box-content{padding:20px}.box-info,.box-warning,.box-hint,.box-download{padding-left:40px}form.box
fieldset{margin-bottom:30px;padding:0
10px 10px 10px}form.box
legend{padding:0
10px}form.box fieldset>div{margin:15px
0}form.box button,
form.box input[type='button'],
form.box input[type='reset']{vertical-align:middle}form.short>div{margin:10px
0}form.short
input{color:#333}form.short input:-moz-placeholder{color:#999}form.short input::-webkit-input-placeholder{color:#999}form.short
input.placeholder{color:#999}.mobile-switcher{display:block;width:80%;margin:20px
auto 40px auto;padding:40px
0;font-size:50px;text-align:center}a.button-more{padding-right:38px;line-height:30px;font-size:22px;color:#444;background:url("/wp-content/themes/yoo_subway_wp/images/button_more.png") 100% 50% no-repeat;opacity:0.6}a.button-more:hover{color:#444;opacity:1}.module a.button-more{font-size:24px}.system-transparent #content a.button-more,
.mod-box-transparent a.button-more,
.mod-box-color1 a.button-more,
.mod-box-color2 a.button-more{color:#fff;background-image:url("/wp-content/themes/yoo_subway_wp/images/button_more_white.png")}img.border-box{border:1px
solid #7F7F7F}ul.line>li{border-top:1px solid #919191;line-height:24px}.system-transparent #content ul.line > li,
.mod-box-transparent ul.line > li,
.mod-box-color1 ul.line > li,
.mod-box-color2 ul.line>li{border-top:1px solid #fff;border-top-color:rgba(255,255,255,0.5)}ul.line>li:first-child{border:none}ul.check>li{padding:4px
0 0 30px;line-height:24px;background:url("/wp-content/themes/yoo_subway_wp/images/tools/list_check.png") 0 50% no-repeat}.system-transparent #content ul.check > li,
.mod-box-transparent ul.check > li,
.mod-box-color1 ul.check > li,
.mod-box-color2 ul.check>li{background-image:url("/wp-content/themes/yoo_subway_wp/images/tools/list_check_white.png")}ul.zebra > li.odd,
table.zebra tbody
tr.odd{background:url("/wp-content/themes/yoo_subway_wp/images/tools/table_zebra.png") 0 0 repeat}ul.zebra > li:nth-of-type(odd),
table.zebra tbody tr:nth-of-type(odd){background:url("/wp-content/themes/yoo_subway_wp/images/tools/table_zebra.png") 0 0 repeat}table.zebra
caption{color:#999}.system-transparent #content table.zebra caption,
.mod-box-transparent table.zebra caption,
.mod-box-color1 table.zebra caption,
.mod-box-color2 table.zebra
caption{color:#fff}dl.separator
dt{position:relative;padding-top:5px;padding-bottom:5px;text-transform:uppercase}dl.separator
dd{padding-top:5px;padding-bottom:5px;border-width:0 0 0 1px;border-style:solid;border-color:#DDD}dl.separator dt:before{content:"";position:absolute;top:0;right:-15px;width:30px;border-top:1px solid #DDD}dl.separator dt:after{content:"";position:absolute;top:-3px;right:-3px;width:5px;height:5px;background:#FFF;border:1px
solid #DDD;border-radius:6px}dl.separator dt:first-child:before,
dl.separator dt:first-child:after{display:none}em.box{border:1px
solid #bbb;background:#fafafa;color:#444}.system-transparent #content em.box,
.mod-box-transparent em.box,
.mod-box-color1 em.box,
.mod-box-color2
em.box{border:none}.system-transparent #content
em.box{color:#444}hr.dotted{background:url("/wp-content/themes/yoo_subway_wp/images/tools/line_dotted.png") 0 0 repeat-x}.box-content{background:#fafafa;border:1px
solid #ddd}.box-note,.box-info,.box-warning,.box-hint,.box-download{background:#fafafa;border-top:1px solid #ddd;border-bottom:1px solid #ddd}.system-transparent #content .box-content,
.system-transparent #content .box-note,
.system-transparent #content .box-info,
.system-transparent #content .box-warning,
.system-transparent #content .box-hint,
.system-transparent #content .box-download{border:none;background-color:rgba(0,0,0,0.3);box-shadow:0 0 1px rgba(255,255,255,0.2)}.box-info{background:#ebf5fa url("/wp-content/themes/yoo_subway_wp/images/tools/box_info.png") 0 0 no-repeat;border-color:#d2dce1}.system-transparent #content .box-info{background-image:url("/wp-content/themes/yoo_subway_wp/images/tools/box_info_white.png")}.box-warning{background:#fff0eb url("/wp-content/themes/yoo_subway_wp/images/tools/box_warning.png") 0 0 no-repeat;border-color:#ffd7cd}.system-transparent #content .box-warning{background-image:url("/wp-content/themes/yoo_subway_wp/images/tools/box_warning_white.png")}.box-hint{background:#fffae6 url("/wp-content/themes/yoo_subway_wp/images/tools/box_hint.png") 0 0 no-repeat;border-color:#fae6be}.system-transparent #content .box-hint{background-image:url("/wp-content/themes/yoo_subway_wp/images/tools/box_hint_white.png")}.box-download{background:#faffe6 url("/wp-content/themes/yoo_subway_wp/images/tools/box_download.png") 0 0 no-repeat;border-color:#dce6be}.system-transparent #content .box-download{background-image:url("/wp-content/themes/yoo_subway_wp/images/tools/box_download_white.png")}form.box
fieldset{border:1px
solid #ddd}.system-transparent #content form.box
fieldset{border-color:rgba(255,255,255,0.2)}form.box
legend{background:#fff}.system-transparent #content
legend{color:#444}form.style input,
form.style select,
form.style
textarea{color:#444}.mobile-switcher{background:#eee;border:1px
solid #aaa}#socialbar.untouched .social-icons,.social-icons{margin-left:60px;padding:20px
0 20px 30px;list-style:none;background-position:10px 21px;background-repeat:no-repeat;overflow:hidden}.social-icons:hover,
#socialbar.touched .social-icons{margin-left:0;cursor:pointer}.social-icons>li{opacity:0.6}.social-icons>li:hover{opacity:1}.social-icons>li:first-child{border-top:1px solid rgba(255,255,255,0.1)}.social-icons
a{height:60px;width:60px;border-bottom:1px solid rgba(255,255,255,0.1);border-left:1px solid rgba(255,255,255,0.1);background:url("/wp-content/themes/yoo_subway_wp/images/tools/social_icons.png") 0 0 no-repeat;display:block}.social-icons
a.facebook{background-position:0 -60px}.social-icons
a.googleplus{background-position:0 -120px}.social-icons
a.feed{background-position:0 -180px}
#system .page-title{margin-top:0;font-size:18px;line-height:18px}#system
.title{margin-top:0}#system .title
a{text-decoration:none}#system .title+.title{margin-top:20px}#system>.description{margin-bottom:30px;overflow:hidden}#system
small{font-style:italic}#system .item>header{margin-bottom:15px}#system .item>:first-child+header{margin-top:10px}#system .item > header
.title{margin-bottom:0}#system .item > header
.meta{margin:10px
0 0 0;font-size:11px;line-height:13px}#system .item > header
.subtitle{margin:0
0 8px 0;font-size:14px;line-height:16px;font-weight:normal;text-transform:uppercase}#system .item > .content > *:first-child:not(.grid-gutter),
#system .item>.content>*[class*="align"]:first-child+*{margin-top:0}#system .item>.content>*:last-child:not(.grid-gutter){margin-bottom:0}#system .item>.links{margin:22px
0 0 0}#system .item > .links
a{margin-right:15px}#system .item>.taxonomy{}#system .item>.trackback{}#system .item>.edit{}#system .item>*:last-child{margin-bottom:0}#system .item
.socialbuttons{margin-top:15px}#system .item .socialbuttons>div{margin-right:10px;float:left}#system
.items{margin:0
-10px 0 -10px}#system .items
.item{margin:0
10px 0 10px}#system .items > .width50
.title{font-size:22px;line-height:22px}#system .items > .width33
.title{font-size:20px;line-height:20px}#system .items > .width25
.title{font-size:18px;line-height:18px}#system
.pagination{margin-top:10px;text-align:center}#system .pagination
a{text-decoration:none}#system .pagination
strong{font-weight:normal}#system .pagination a,
#system .pagination
strong{display:inline-block;min-width:15px;height:25px;margin-left:5px;padding:0
5px;line-height:25px}#system .pagination>*:first-child{margin-left:0}#system .pagination a.previous,
#system .pagination
a.next{font-size:16px;line-height:23px}.searchbox{position:relative}.searchbox
input{width:100%;padding:0;border:none;outline:none;background:none;float:left}.searchbox input::-ms-clear{display:none}.searchbox
button{display:none}.searchbox.filled
button{display:block;position:absolute;top:0;bottom:0;right:0;padding:0;border:none;line-height:0;cursor:pointer}.searchbox.loading
button{}.searchbox
.results{position:absolute;top:30px;right:0;z-index:110;width:300px;margin:0;padding:0;list-style:none}.searchbox .results li.results-header,
.searchbox .results li.more-results{height:35px;line-height:35px;text-indent:15px;text-transform:uppercase}.searchbox .results li.more-results{cursor:pointer}.searchbox .results
li.result{padding:10px
15px;cursor:pointer}.searchbox .results li.result
h3{margin:0
0 5px 0;font-size:16px}.searchbox .results li.result
div{font-size:11px}.breadcrumbs{overflow:hidden}.breadcrumbs a,
.breadcrumbs span,
.breadcrumbs
strong{display:inline-block;text-decoration:none}.breadcrumbs a,.breadcrumbs>span{margin-right:10px}#system .author-box{margin:20px
0}#system .title+.author-box{margin-top:0}#system .author-box
.avatar{margin-right:15px;float:left}#system .author-box
.name{margin:0
0 10px 0;font-size:18px;font-weight:normal;line-height:22px}#system .author-box
.description{}#system
#comments{margin-top:20px}#system #comments h3.comments-meta{margin:0
0 10px 0}#system #comments
ul{margin:0;padding:0;list-style:none}#system #comments .comment-head{margin-bottom:10px;overflow:hidden}#system #comments .comment-head
.avatar{margin-right:10px;float:left}#system #comments .comment-head
.author{margin:8px
0 0 0;font-size:18px;line-height:18px;font-weight:bold}#system #comments .comment-head
.meta{margin:3px
0 0 0;font-size:11px}#system #comments .comment-body{margin-bottom:20px;padding:0
10px}#system #comments .comment-body
.content{text-align:justify}#system #comments .comment-body
.reply{margin:10px
0 0 0}#system #comments .no-response .comment-body
.reply{display:none}#system #comments .comment-body
.moderation{margin:10px
0 0 0;font-size:14px;font-style:italic}#system #comments ul.level1
ul{padding-left:55px}#system #respond
h3{margin:0
0 10px 0;font-size:18px;line-height:20px;font-weight:normal}#system #respond
p.user{margin:0}#system #respond input[type='text']{width:200px;height:25px;padding-left:5px;line-height:25px}#system #respond
textarea{width:100%;max-width:400px;height:100px}#system ul
#respond{margin:0
0 30px 0;padding-left:10px}.comments-list>article{margin-top:10px;padding-top:10px;overflow:hidden}.comments-list>article:first-child{margin:0;padding:0}.comments-list
.avatar{margin-right:10px;float:left}.comments-list
.author{margin:2px
0 0 0;font-size:12px;line-height:18px}.comments-list
.meta{margin:0;font-size:11px;line-height:13px;font-style:italic}.comments-list .content
p{margin:5px
0 0 0}.tagcloud{list-style:none;margin:0;padding:0;text-align:center}.tagcloud
li{display:inline-block;line-height:20px;vertical-align:middle}.tagcloud
a{white-space:nowrap}.tagcloud .weight1
a{font-size:11px}.tagcloud .weight2
a{font-size:12px}.tagcloud .weight3
a{font-size:13px}.tagcloud .weight4
a{font-size:14px}.tagcloud .weight5
a{font-size:15px}.tagcloud .weight6
a{font-size:16px}.tagcloud .weight7
a{font-size:18px}.tagcloud .weight8
a{font-size:20px}.tagcloud .weight9
a{font-size:23px;letter-spacing:-1px}.tagcloud .weight10
a{font-size:26px;letter-spacing:-1px}.page-nav{margin-top:15px}.page-nav
.prev{float:left}.page-nav
.next{float:right}table.calendar{width:100%;margin:auto;border-spacing:2px}table.calendar
caption{margin-bottom:5px;text-transform:uppercase;letter-spacing:1px}table.calendar
th{width:14%}table.calendar th,
table.calendar
td{padding:0;text-align:center;line-height:25px}table.calendar td
a{display:block;line-height:25px}table.calendar tfoot
td{padding:0
5px;text-align:right}table.calendar tfoot td:first-child{text-align:left}#system>.title,#system>.page-title{color:#fff}#system .title
a{color:#444}#system
small{color:#999}.isblog #system .item,
.noblog
#content{padding:20px;background:#fff}.system-transparent.isblog #system .item,
.system-transparent.noblog
#content{color:#fff;box-shadow:0 0 1px rgba(255,255,255,0.2)}.system-transparent #content a,
.mod-box-transparent
a{color:rgba(255,255,255,0.6)}.system-transparent #content a:hover,
.system-transparent #system .item .title a,
.mod-box-transparent a:hover{color:rgba(255,255,255,1)}#system .item>header{position:relative}#system .item > header
.meta{color:#999}.system-transparent #system .item > header
.meta{color:#fff;color:rgba(255,255,255,0.5)}#system .item > header
.subtitle{color:#777}#system .item>header>time{width:28px;left:-55px;font-family:Arial,Helvetica,sans-serif;color:#fff;display:block;position:absolute}#system .item>header>time>span{float:right;text-transform:lowercase}#system .item > header > time
.day{font-size:20px;line-height:21px;font-weight:bold}#system .item > header > time
.month{font-size:12px;line-height:13px}#system .item > header > time
.year{font-size:10px;line-height:13px}#system .item+.links{height:35px;margin:1px
10px 0px 10px;line-height:35px}.system-white #system .item+.links{margin-top:0}#system .item + .links
a{width:60px;height:35px;line-height:35px;background:url("/wp-content/themes/yoo_subway_wp/images/system_continue_reading.png") 0 0 no-repeat;float:right;text-indent:100px;display:block;overflow:hidden}#system .item + .links a:hover{background-position:0 -40px}.isblog.system-transparent.transparency-25 #system .item,
.noblog.system-transparent.transparency-25 #content,
.transparency-25 #system .item + .links,
.transparency-25 .mod-box-transparent{background:url("/wp-content/themes/yoo_subway_wp/images/module_box_transparency25.png") 0 0 repeat}.isblog.system-transparent.transparency-50 #system .item,
.noblog.system-transparent.transparency-50 #content,
.transparency-50 #system .item + .links,
.transparency-50 .mod-box-transparent{background:url("/wp-content/themes/yoo_subway_wp/images/module_box_transparency50.png") 0 0 repeat}.isblog.system-transparent.transparency-75 #system .item,
.noblog.system-transparent.transparency-75 #content,
.transparency-75 #system .item + .links,
.transparency-75 .mod-box-transparent{background:url("/wp-content/themes/yoo_subway_wp/images/module_box_transparency75.png") 0 0 repeat}#system
.description{color:#FFF}.system-transparent .wk-accordion .toggler,
.system-transparent .wk-map{color:#444}#system .items
.item{margin-top:20px}#system .items .item:first-child{margin-top:0}#system .items-col-2 .width50 .item > header > time,
#system .items-col-3 .width33 .item > header > time,
#system .items-col-4 .width25 .item>header>time{left:auto;margin-right:10px;position:relative;float:left}.system-white #system .items-col-2 .width50 .item > header > time,
.system-white #system .items-col-3 .width33 .item > header > time,
.system-white #system .items-col-4 .width25 .item>header>time{color:#444}#system .pagination a,
#system .pagination a.previous,
#system .pagination a.next,
#system .pagination
strong{padding:0;height:35px;line-height:35px;width:25px;background:url("/wp-content/themes/yoo_subway_wp/images/pagination.png") 0 0 no-repeat}#system .pagination a:hover,
#system .pagination
strong{background-position:0 -40px}#system .pagination a.first,
#system .pagination a.last,
#system .pagination a.previous,
#system .pagination
a.next{background:none}#system .pagination
a.first{margin-right:10px}#system .pagination
a.last{margin-left:10px}#system .pagination
strong{color:#fff}.searchbox{width:145px;height:34px;border:1px
solid #fff;border-color:rgba(255,255,255,0.6);padding:0
30px 0 0}.searchbox:hover{border-color:rgba(255,255,255,1)}.searchbox
input{height:34px;color:#fff;font-size:20px;opacity:0.6}.searchbox
button{opacity:0.6}.searchbox:hover input,
.searchbox:hover
button{opacity:1}.searchbox input:first-child{padding-left:30px;background:url("/wp-content/themes/yoo_subway_wp/images/searchbox_magnifier.png") 0 50% no-repeat}.searchbox input:-moz-placeholder{color:#fff}.searchbox input::-webkit-input-placeholder{color:#fff}.searchbox
input.placeholder{color:#fff}.searchbox.filled
button{width:25px;background:url("/wp-content/themes/yoo_subway_wp/images/searchbox_reset.png") 50% 50% no-repeat}.searchbox.loading
button{background:url("/wp-content/themes/yoo_subway_wp/images/searchbox_loader.gif") 50% 50% no-repeat}.searchbox
.results{top:54px;right:-1px;width:300px;padding:20px;background:url("/wp-content/themes/yoo_subway_wp/images/menu_dropdown_dropdown.png") 0 0 repeat}.searchbox .results li.results-header{height:45px;border-bottom:1px solid #fff;margin-bottom:10px;text-transform:lowercase;font-size:28px;line-height:30px;text-indent:0}.searchbox .results li.more-results{margin-top:10px;padding-top:5px;border-top:1px solid #fff;text-transform:lowercase;text-indent:0;height:40px;line-height:40px}.searchbox .results
li.result{border:1px
solid transparent;padding:10px}.searchbox .results
li.result.selected{border-color:#808080;border-color:rgba(255,255,255,0.6)}.searchbox .results li.result>*{opacity:0.6}.searchbox .results li.result.selected>*{opacity:1}.breadcrumbs a,
.breadcrumbs > span,
.breadcrumbs
strong{padding:0
15px 0 14px;border-right:1px solid rgba(255,255,255,0.15);background-clip:padding-box}.breadcrumbs a,.breadcrumbs>span{height:35px;line-height:35px;margin-right:0;color:rgba(255,255,255,0.5)}.breadcrumbs a:hover{color:rgba(255,255,255,1);background-color:rgba(0,0,0,0.3)}.breadcrumbs
strong{color:#fff;font-weight:normal}#system .author-box{padding:15px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;background:#fafafa}.system-transparent #content .author-box{border:none;background-color:rgba(0,0,0,0.3);box-shadow:0 0 1px rgba(255,255,255,0.2)}#system .author-box
.avatar{padding:3px;border:1px
solid #ddd;background:#fff}#system .author-box
.name{color:#444}.system-transparent #content .author-box
.name{color:#fff}#system #comments .comment-head{padding:5px;border:1px
solid #e6e6e6;background:#fafafa}.system-transparent #system #comments .comment-head{border:none;background-color:rgba(0,0,0,0.2);box-shadow:0 0 1px rgba(255,255,255,0.2)}#system #comments .comment-byadmin .comment-head{border:1px
solid #dce6be;background:#faffe6}.system-transparent #system #comments .comment-byadmin .comment-head{border:none;background-color:rgba(0,0,0,0.4)}#system #comments ul.level1
ul{background:url("/wp-content/themes/yoo_subway_wp/images/comments_arrow.png") 0 0 no-repeat}#system #respond
h3{color:#444}.system-transparent #system #respond
h3{color:#fff}.comments-list>article{border-top:1px solid #ddd}.comments-list>article:first-child{border:none}.comments-list
.meta{color:#999}#system .item + .links a+a{background-image:url("/wp-content/themes/yoo_subway_wp/images/system_comments.png")}table.calendar{border:1px
solid #ddd}table.calendar th,
table.calendar tfoot
td{background:#fafafa}table.calendar
th{border-bottom:1px solid #ddd}table.calendar tfoot
td{border-top:1px solid #ddd}

.mod-box.mod-box-color1 .wk-twitter-single:before{display:block;margin-bottom:20px;padding-top:140px;text-align:center;font-size:36px;line-height:36px;background:url("/wp-content/images/yootheme/icon_twitter.png") 50% 0 no-repeat;content:"latest tweet"}.mod-box.mod-box-color1 .wk-twitter-single
.content{font-family:Arial,Helvetica,sans-serif;font-style:normal;font-size:18px;line-height:27px;min-height:194px}.mod-box.mod-box-color1 .wk-twitter-single .content:before,
.mod-box.mod-box-color1 .wk-twitter-single .content:after{content:'"'}
body{-webkit-font-smoothing:antialiased}#totop-scroller,
.menu-dropdown a.level1,
.menu-dropdown span.level1,
.menu-dropdown a.level2,
.menu-dropdown span.level2,
.menu-sidebar a,
.menu-sidebar li > span,
.menu-line li a,
#footer a,
a.button-more,
.searchbox input,
.searchbox button,
.social-icons > li,
.wk-slideshow-subway .next,
.wk-slideshow-subway .prev,
.wk-slideshow-subway-list .nav
span{-webkit-transition:opacity 0.2s linear;-moz-transition:opacity 0.2s linear;transition:opacity 0.2s linear}.menu-dropdown a.level2 > span,
.menu-dropdown span.level2 > span,
.menu-sidebar a.level1 > span,
.menu-sidebar span.level1 > span,
.searchbox,
.searchbox .results li.result,
.wk-slideshow-subway-list .nav
li{-webkit-transition:border-color 0.2s linear;-moz-transition:border-color 0.2s linear;transition:border-color 0.2s linear}a{-webkit-transition:color 0.2s linear;-moz-transition:color 0.2s linear;transition:color 0.2s linear}.breadcrumbs a,.wk-slideshow-subway>div>a{-webkit-transition:background-color 0.2s linear;-moz-transition:background-color 0.2s linear;transition:background-color 0.2s linear}#socialbar .social-icons{-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;transition:all 0.2s linear}
#page{background:#7C4C28 url("/wp-content/themes/yoo_subway_wp/images/background/wood/wood_bg.jpg") 50% 0 repeat}#page-body{background:url("/wp-content/themes/yoo_subway_wp/images/background/wood/wood_img.jpg") 50% 0 no-repeat}.page-body-1{background:url("/wp-content/themes/yoo_subway_wp/images/background/wood/radial_gradient.svg") 50% 0 no-repeat fixed;background-size:110% 180%}
h1,
h2,
h3,
h4,
h5,
h6,
a.button-more,
.mod-box.mod-box-color1 .wk-twitter-single:before,
.wk-slideshow-subway-list .nav
li{font-family:"NewCicleFina"}
.menu-dropdown a.level1,
.menu-dropdown span.level1,
.menu-dropdown a.level2, .menu-dropdown span.level2,
.menu-dropdown li.level3,
.menu-sidebar a.level1 > span,
.menu-sidebar span.level1 > span,
.menu-sidebar .level2 a > span,
.searchbox input,
.searchbox .results li.results-header{font-family:"NewCicleFina"}
a{color:#1a8db6}a:hover,em,code{color:#e0990d}.mod-box-color1{background:#3283a0;background:-moz-linear-gradient(-45deg, #48a2bf 0%, #3283a0 100%);background:-webkit-linear-gradient(-45deg, #48a2bf 0%,#3283a0 100%);background:-o-linear-gradient(-45deg, #48a2bf 0%,#3283a0 100%);background:linear-gradient(to bottom right, #48a2bf 0%,#3283a0 100%)}.mod-box-color1
a{color:#b2d5e0}.mod-box-color2{background:#dc9f27;background:-moz-linear-gradient(-45deg, #f2c56f 0%, #dc9f27 100%);background:-webkit-linear-gradient(-45deg, #f2c56f 0%,#dc9f27 100%);background:-o-linear-gradient(-45deg, #f2c56f 0%,#dc9f27 100%);background:linear-gradient(to bottom right, #f2c56f 0%,#dc9f27 100%)}.mod-box-color2
a{color:#f6e1b9}#socialbar.untouched .social-icons,.social-icons{background-image:url("/wp-content/themes/yoo_subway_wp/styles/blue_yellow/images/socialbar_button.png")}
@media
print{*{background:transparent !important;color:black !important;box-shadow:none !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important}a,a:visited{text-decoration:underline}pre,blockquote{border:1px
solid #999;page-break-inside:avoid}thead{display:table-header-group}tr,img{page-break-inside:avoid}img{max-width:100% !important}@page{margin:0.5cm}p,h2,h3{orphans:3;widows:3}h2,h3{page-break-after:avoid}}
@font-face{font-family:'NewCicleFina';src:url("/wp-content/themes/yoo_subway_wp/fonts/NewCicleFina-webfont.eot?#iefix") format('embedded-opentype'),
url("/wp-content/themes/yoo_subway_wp/fonts/NewCicleFina-webfont.woff") format('woff'),
url("/wp-content/themes/yoo_subway_wp/fonts/NewCicleFina-webfont.ttf") format('truetype'),
url("/wp-content/themes/yoo_subway_wp/fonts/NewCicleFina-webfont.svg#NewCicleFina") format('svg');font-weight:normal;font-style:normal}